<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Centros de ayuda en Tehuacán 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large"> Centros de ayuda en Tehuacán 
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
      
      <ion-button href="https://twitter.com/capatehuacan?lang=es"  expand="block" color="warning">
       UNEME-CAPA 
      </ion-button>

        <ion-button href="https://www.waze.com/es/live-map/directions/mx/pue./tehuacan/imjuve-tehuacan-instituto-municipal-de-la-juventud?to=place.ChIJdZ-_ySW9xYURBFDLzYBSSLE"  expand="block" color="secondary">
          IMJUVE TEHUACÁN - INSTITUTO MUNICIPAL DE LA JUVENTUD
        </ion-button>
  
          <ion-button href="http://www.cij.org.mx/"  expand="block" color="primary">
            Centros de Integración Juvenil A.C.
          </ion-button>
    
            <ion-button href="http://www.intranet.cij.gob.mx/Archivos/Pdf/ctrosdia/CUADERNILLOGrupodeAyudaMutuaparaPacientes.pdf"  expand="block" color="secondary">
              Centro de ayuda mutua en Adicciones SHADDAI
            </ion-button>
  </ion-grid>
  
</ion-content>