
@media screen and (max-width:720px){
   ion-button{
    width: 50%;
    text-align: center;
   }
}
ion-title{
    text-align: center;
}

ion-img{
    margin: 10x;
    size: 100px;

}

a{
    size: 100px;
}